<div class="container mb-5">

  <div class="card verflow-hidden custom-width flex-md-row border-0">
    <figure class="mb-3 img-fluid">
      <img src="./assets/card-img1.png" class="card-img-top " alt="...">
    </figure>
    <div class="card-body">
      <h3 class="card-title">Rawai Beach Phuket</h3>
      <div class="d-flex mb-4">
        <img src="./assets/location-icon.png" alt="location-icon">
        <span class="text-nowrap card-body-text ps-2 "> Aviasales.ru Seaview Phuket office, Phuket, Thailand</span>
      </div>
      <div class="row text-center mb-4">
        <div class="col-6">
          <p class="mb-0 card-section-color fw-normal">Views</p>
          <p class="fw-semibold"> 65,03,099</p>
        </div>
        <div class="col-6">
          <p class="mb-0 card-section-color fw-normal">Downloads </p>
          <p class="fw-semibold">23,991</p>
        </div>
      </div>
      <div class="d-flex justify-content-center ">
        <button type="button" class="btn btn-primary flex-grow-1 ">See Details</button>
      </div>

    </div>
  </div>
</div>

<div class="container specialFont ">
  <div class="card border-0 rounded-3">
    <div class="row g-0 ">
      <div class="col-md-5 card-section1-color">
        <div class="card-body">
          <p class="card-title1 ms-4 mt-3 mb-3">Course</p>
          <h3 class="text-break  text-space ms-4 mt-3 mb-4">Digital Marketing</h3>
          <p class="ms-4 mt-3 mb-3">See all Chapters <img src="./assets/arrow-icon-card2.png" alt=""></p>

        </div>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <div class="d-flex justify-content-between card2-subtext-color ">
            <p cl>Chapter 10 </p>
            <div>
              <img src="./assets/progress-bar.png" alt="">
              <p>03/10 completed</p>
            </div>
          </div>
          <h1 class="card2-title fw-bold">Social Media Growth</h1>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-info rounded-pill border-0 ">Next Chapter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>