/* You can add global styles to this file, and also import other style files */
$body-bg-color: #E5E5E5;
$btn-color: #2D9CDB;
$card2-bg: #EB5757;
:root{
    --bs-border-radius:4px
}

body{
    background-color:$body-bg-color;
}

.custom-width {
    width: 492px;
  }

  .card-title{
color: #6E7491;
  }
  .card-body-text{
    color: #7C8DB0;
  }
  .card-section-color{
    color:  #6D8493;;
  }
  .btn-primary {
    background-color:$btn-color;
    border: 1px solid $btn-color;
}

// card 2
.card-section1-color{
    background-color: $card2-bg;
    color:white
}
.specialFont{
  
    font-family: "Poppins";
    font-size: 13px;
 
}
.text-space{
    width: 10rem;
}
.card2-title{
    width: 15rem;
}
.btn-info{
    background-color: $card2-bg;
    color: white;
    font-size: 13px;
  }
  .card2-subtext-color{
    color: 
    #90A4AE;
  }
   



  
  
  